@if (selectedMachine(); as machine) {
  <mat-card>
    <mat-card-title>{{ machine.name }}</mat-card-title>

    <mat-card-content>
      <dl>
        <dt class="title">Current status:</dt>
        <dd>
          <app-machine-status
            [status]="machine.statusHistory[machine.statusHistory.length - 1].status ?? MachineStatus.OFF"
          ></app-machine-status>
        </dd>

        <dt class="title">Statuses ({{ machine.statusHistory.length }})</dt>

        <dd>
          @for (status of machine.statusHistory; track status) {
            <div>
              <app-machine-status [status]="status.status"></app-machine-status>
              {{ status.timeOfStatusChange | date: 'h:mm:ss a' }}
            </div>
          }
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>
} @else {
  <mat-spinner />
}
